<h1> Hi </h1>

<p> You played Paper. </p>


<p>
  The computer played <%= @computer_move %>.
</p>


<% if @computer_move == "paper" %>
<h3> You tied! </h3>
<% elsif @computer_move == "rock" %>
<h3> You  Win! </h3>
<% else %>
<h3>You Lose!</h3>
<% end %>
