
<div class="container padding-inside-top-md padding-inside-bottom-md padding-outside-top-md">
  <hr>

    <div class="row">
        <div class="col-md-4">
          <a href="http://localhost:3000/rock" class="btn btn-primary btn-block">Play Rock</a>
        </div>
        <div class="col-md-4">
          <a href="http://localhost:3000/paper" class="btn btn-info btn-block">Play Paper</a>
        </div>
        <div class="col-md-4">
          <a href="http://localhost:3000/scissors" class="btn btn-primary btn-block">Play Scissors</a>
        </div>
    </div>

<hr>

    <div class="row">
        <div class="col-md-offset-1 col-md-5">
          <div class="panel panel-success center-text">
            <div class="panel-heading">
              <h3 class="panel-title">Paper</h3>
            </div>
            <div class="panel-body">
                <img src="http://localhost:3000/assets/images/Paper.png" height="400"/>
            </div>
          </div>

        </div>
        <div class="col-md-5">
          <div class="panel panel-danger center-text">
            <div class="panel-heading">
              <h3 class="panel-title"> <%= @computer_move.capitalize %> </h3>
            </div>
            <div class="panel-body">
              <% if @computer_move == "rock" %>
              <img src="http://localhost:3000/assets/images/rock.png" height="400"/>
              <% elsif @computer_move == "paper" %>
              <img src="http://localhost:3000/assets/images/paper.png" height="400"/>
              <% else %>
              <img src="http://localhost:3000/assets/images/scissors.png" height="400"/>
              <% end %>
            </div>
          </div>
        </div>
    </div>

<!-- result -->

    <div class="row grayback">
        <div class="col-xs-12">
           <div class="col-md-offset-4 col-md-4 margin-above-top-md margin-below-bottom-md">
          <% if @computer_move == "paper" %>
          <button  class="btn btn-primary btn-block result-font">
                      You Tie
                    </button>
          <% elsif @computer_move == "scissors" %>
          <button  class="btn btn-warning btn-block result-font" href = "http://localhost:3000/scissors">
                      You Lose
                    </button>
          <% else %>
          <button  class="btn btn-success btn-block result-font" href = "http://localhost:3000/scissors">
                      You Win
                    </button>
                    </div>
          <% end %>


        </div>
    </div>
</div>
