/* Additional styles */


/* My standard vertical spacing classes */

.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 150px;
}

.padding-inside-bottom-xl {
  padding-bottom: 200px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}

.white-nav {
  background-color: white;
}

.grayback {
  background-color: #D8D4D8;
  border-style: solid thin;
  border-color: #C1BFC1;
  border-radius: 0px;
}

.roundy {
  border-radius: rounded
}

.navblue {
  color: blue;
}

.btn-link {
  color: blue;
}

.h11 {
  font-weight: lighter;
  line-height: 1.3;
}

.p11 {
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.8;
}

.backwhite {
  background-color: white;
}

.bottom-head {
  font-weight: bolder;
  color: gray;
}

.bottom-p {
  line-height: 2;
  color: gray;
  font-weight: lighter;
}

.center-text {
  text-align: center;
}

.result-font {
  font-size: 30px;
  font-weight: bold;
}
